In [1]:
from pyspark.find_spark_home import _find_spark_home
from pyspark.sql import SparkSession
from pyspark import SparkConf, StorageLevel
from pyspark.sql.functions import col, split, expr
import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType
import os

from dotenv import load_dotenv
load_dotenv()

print(_find_spark_home())

C:\Users\liisu\anaconda3\envs\bigData\Lib\site-packages\pyspark

In [2]:
python_path = os.environ.get('PYTHON_PATH')
app_name_nov = os.environ.get('APP_NAME_NOV')
hadoop_path_nov = os.environ.get('HADOOP_NOV_DATASET_PATH')

In [3]:
conf = SparkConf()\
    .setMaster('local[*]')\
    .set('spark-local-dir', "C:\\spark-temp")\
    .set('spark.driver.memory', '4g')\
    .set('spark.executor.memory', '4g')\
    .set('spark.driver.maxResultSize', '2g')\
    .set('spark.pyspark.python', python_path)\
    .set('spark.pyspark.driver.python', python_path)\
    .set("spark.network.timeout","800s")\
    .set("spark.dynamicAllocation.enabled", "true")\
    .set("spark.shuffle.service.enabled", "true")\
    .set("spark.dynamicAllocation.minExecutors", "1")\
    .set("spark.dynamicAllocation.maxExecutors", "10")\
    .set("spark.dynamicAllocation.executorIdleTimeout", "60s")\

spark = SparkSession.builder.appName(app_name_nov).config(conf=conf).getOrCreate()
sc = spark.sparkContext

for item in sc.getConf().getAll(): print(item)

('spark.driver.host', 'host.docker.internal')
('spark.dynamicAllocation.minExecutors', '1')
('spark.app.id', 'local-1703870983092')
('spark.shuffle.service.enabled', 'true')
('spark.driver.memory', '4g')
('spark.executor.memory', '4g')
('spark.dynamicAllocation.maxExecutors', '10')
('spark.executor.id', 'driver')
('spark.pyspark.driver.python', 'C:/Users/liisu/anaconda3/envs/bigData/python.exe')
('spark.app.submitTime', '1703870980181')
('spark.driver.extraJavaOptions', '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false')
('spark.network.timeout', '800s')
('spark.rdd.compress', 'True')
('spark-local-dir', 'C:\\spark-temp')
('spark.serializer.objectStreamReset', '100')
('spark.driver.maxResultSize', '2g')
('spark.app.startTime', '1703870980465')
('spark.submit.pyFiles', '')
('spark.dynamicAllocation.executorIdleTimeout', '60s')
('spark.master', 'local[*]')
('spark.submit.deployMode', 'client')
('spark.pyspark.python', 'C:/Users/liisu/anaconda3/envs/bigData/python.exe')
('spark.dynamicAllocation.enabled', 'true')
('spark.driver.port', '49275')
('spark.ui.showConsoleProgress', 'true')
('spark.executor.extraJavaOptions', '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false')
('spark.app.name', 'november_data')

In [4]:
df = spark.read.csv(hadoop_path_nov, header = True, inferSchema = True)
df.show()

+-------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
|         event_time|event_type|product_id|        category_id|       category_code|   brand| price|  user_id|        user_session|
+-------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
|2019-11-01 01:00:00|      view|   1003461|2053013555631882655|electronics.smart...|  xiaomi|489.07|520088904|4d3b30da-a5e4-49d...|
|2019-11-01 01:00:00|      view|   5000088|2053013566100866035|appliances.sewing...|  janome|293.65|530496790|8e5f4f83-366c-4f7...|
|2019-11-01 01:00:01|      view|  17302664|2053013553853497655|                null|   creed| 28.31|561587266|755422e7-9040-477...|
|2019-11-01 01:00:01|      view|   3601530|2053013563810775923|appliances.kitche...|      lg|712.87|518085591|3bfb58cd-7892-48c...|
|2019-11-01 01:00:01|      view|   1004775|2053013555631882655|electronics.smart...|  xiaomi|183.27|558856683|313628f1-68b8-460...|
|2019-11-01 01:00:01|      view|   1306894|2053013558920217191|  computers.notebook|      hp|360.09|520772685|816a59f3-f5ae-4cc...|
|2019-11-01 01:00:01|      view|   1306421|2053013558920217191|  computers.notebook|      hp|514.56|514028527|df8184cc-3694-454...|
|2019-11-01 01:00:02|      view|  15900065|2053013558190408249|                null| rondell| 30.86|518574284|5e6ef132-4d7c-473...|
|2019-11-01 01:00:02|      view|  12708937|2053013553559896355|                null|michelin| 72.72|532364121|0a899268-31eb-46d...|
|2019-11-01 01:00:02|      view|   1004258|2053013555631882655|electronics.smart...|   apple|732.07|532647354|d2d3d2c6-631d-489...|
|2019-11-01 01:00:03|      view|  17200570|2053013559792632471|furniture.living_...|    null|437.33|518780843|aa806835-b14c-45a...|
|2019-11-01 01:00:03|      view|   2701517|2053013563911439225|appliances.kitche...|    null|155.11|518427361|c89b0d96-247f-404...|
|2019-11-01 01:00:03|      view|  16700260|2053013559901684381|furniture.kitchen...|    null| 31.64|566255262|173d7b72-1db7-463...|
|2019-11-01 01:00:04|      view|  34600011|2060981320581906480|                null|    null| 20.54|512416379|4dfe2c67-e537-4dc...|
|2019-11-01 01:00:05|      view|   4600658|2053013563944993659|appliances.kitche...| samsung|411.83|526595547|aab33a9a-29c3-4d5...|
|2019-11-01 01:00:06|      view|  24900193|2053013562183385881|                null|    null|  1.09|512651494|f603c815-f51a-46f...|
|2019-11-01 01:00:07|      view|  27400066|2053013563391345499|                null|    null|  8.55|551061950|3f6112f1-5695-4e8...|
|2019-11-01 01:00:07|      view|   5100503|2053013553375346967|                null|  xiaomi| 22.68|520037415|f54fa96a-f3f2-43a...|
|2019-11-01 01:00:07|      view|   1004566|2053013555631882655|electronics.smart...|  huawei|164.84|566265908|52c2c76c-b79e-479...|
|2019-11-01 01:00:08|      view|   1307115|2053013558920217191|  computers.notebook|      hp|411.59|514028527|df8184cc-3694-454...|
+-------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
only showing top 20 rows

In [5]:
df_index = df.select('*').withColumn('id', F.monotonically_increasing_id())
column_names = ['id'] + [col for col in df.columns]

df_index_first = df_index.select(column_names)
df_index_first.show()

+---+-------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
| id|         event_time|event_type|product_id|        category_id|       category_code|   brand| price|  user_id|        user_session|
+---+-------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
|  0|2019-11-01 01:00:00|      view|   1003461|2053013555631882655|electronics.smart...|  xiaomi|489.07|520088904|4d3b30da-a5e4-49d...|
|  1|2019-11-01 01:00:00|      view|   5000088|2053013566100866035|appliances.sewing...|  janome|293.65|530496790|8e5f4f83-366c-4f7...|
|  2|2019-11-01 01:00:01|      view|  17302664|2053013553853497655|                null|   creed| 28.31|561587266|755422e7-9040-477...|
|  3|2019-11-01 01:00:01|      view|   3601530|2053013563810775923|appliances.kitche...|      lg|712.87|518085591|3bfb58cd-7892-48c...|
|  4|2019-11-01 01:00:01|      view|   1004775|2053013555631882655|electronics.smart...|  xiaomi|183.27|558856683|313628f1-68b8-460...|
|  5|2019-11-01 01:00:01|      view|   1306894|2053013558920217191|  computers.notebook|      hp|360.09|520772685|816a59f3-f5ae-4cc...|
|  6|2019-11-01 01:00:01|      view|   1306421|2053013558920217191|  computers.notebook|      hp|514.56|514028527|df8184cc-3694-454...|
|  7|2019-11-01 01:00:02|      view|  15900065|2053013558190408249|                null| rondell| 30.86|518574284|5e6ef132-4d7c-473...|
|  8|2019-11-01 01:00:02|      view|  12708937|2053013553559896355|                null|michelin| 72.72|532364121|0a899268-31eb-46d...|
|  9|2019-11-01 01:00:02|      view|   1004258|2053013555631882655|electronics.smart...|   apple|732.07|532647354|d2d3d2c6-631d-489...|
| 10|2019-11-01 01:00:03|      view|  17200570|2053013559792632471|furniture.living_...|    null|437.33|518780843|aa806835-b14c-45a...|
| 11|2019-11-01 01:00:03|      view|   2701517|2053013563911439225|appliances.kitche...|    null|155.11|518427361|c89b0d96-247f-404...|
| 12|2019-11-01 01:00:03|      view|  16700260|2053013559901684381|furniture.kitchen...|    null| 31.64|566255262|173d7b72-1db7-463...|
| 13|2019-11-01 01:00:04|      view|  34600011|2060981320581906480|                null|    null| 20.54|512416379|4dfe2c67-e537-4dc...|
| 14|2019-11-01 01:00:05|      view|   4600658|2053013563944993659|appliances.kitche...| samsung|411.83|526595547|aab33a9a-29c3-4d5...|
| 15|2019-11-01 01:00:06|      view|  24900193|2053013562183385881|                null|    null|  1.09|512651494|f603c815-f51a-46f...|
| 16|2019-11-01 01:00:07|      view|  27400066|2053013563391345499|                null|    null|  8.55|551061950|3f6112f1-5695-4e8...|
| 17|2019-11-01 01:00:07|      view|   5100503|2053013553375346967|                null|  xiaomi| 22.68|520037415|f54fa96a-f3f2-43a...|
| 18|2019-11-01 01:00:07|      view|   1004566|2053013555631882655|electronics.smart...|  huawei|164.84|566265908|52c2c76c-b79e-479...|
| 19|2019-11-01 01:00:08|      view|   1307115|2053013558920217191|  computers.notebook|      hp|411.59|514028527|df8184cc-3694-454...|
+---+-------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
only showing top 20 rows

In [6]:
df_new = df_index_first.drop('user_session', 'category_id')
df_new.show()

+---+-------------------+----------+----------+--------------------+--------+------+---------+
| id|         event_time|event_type|product_id|       category_code|   brand| price|  user_id|
+---+-------------------+----------+----------+--------------------+--------+------+---------+
|  0|2019-11-01 01:00:00|      view|   1003461|electronics.smart...|  xiaomi|489.07|520088904|
|  1|2019-11-01 01:00:00|      view|   5000088|appliances.sewing...|  janome|293.65|530496790|
|  2|2019-11-01 01:00:01|      view|  17302664|                null|   creed| 28.31|561587266|
|  3|2019-11-01 01:00:01|      view|   3601530|appliances.kitche...|      lg|712.87|518085591|
|  4|2019-11-01 01:00:01|      view|   1004775|electronics.smart...|  xiaomi|183.27|558856683|
|  5|2019-11-01 01:00:01|      view|   1306894|  computers.notebook|      hp|360.09|520772685|
|  6|2019-11-01 01:00:01|      view|   1306421|  computers.notebook|      hp|514.56|514028527|
|  7|2019-11-01 01:00:02|      view|  15900065|                null| rondell| 30.86|518574284|
|  8|2019-11-01 01:00:02|      view|  12708937|                null|michelin| 72.72|532364121|
|  9|2019-11-01 01:00:02|      view|   1004258|electronics.smart...|   apple|732.07|532647354|
| 10|2019-11-01 01:00:03|      view|  17200570|furniture.living_...|    null|437.33|518780843|
| 11|2019-11-01 01:00:03|      view|   2701517|appliances.kitche...|    null|155.11|518427361|
| 12|2019-11-01 01:00:03|      view|  16700260|furniture.kitchen...|    null| 31.64|566255262|
| 13|2019-11-01 01:00:04|      view|  34600011|                null|    null| 20.54|512416379|
| 14|2019-11-01 01:00:05|      view|   4600658|appliances.kitche...| samsung|411.83|526595547|
| 15|2019-11-01 01:00:06|      view|  24900193|                null|    null|  1.09|512651494|
| 16|2019-11-01 01:00:07|      view|  27400066|                null|    null|  8.55|551061950|
| 17|2019-11-01 01:00:07|      view|   5100503|                null|  xiaomi| 22.68|520037415|
| 18|2019-11-01 01:00:07|      view|   1004566|electronics.smart...|  huawei|164.84|566265908|
| 19|2019-11-01 01:00:08|      view|   1307115|  computers.notebook|      hp|411.59|514028527|
+---+-------------------+----------+----------+--------------------+--------+------+---------+
only showing top 20 rows

In [7]:
df_new = df_new.withColumn("split_code", split(col("category_code"), "\."))

df_new = df_new.withColumn("category", col("split_code")[0])

df_new = df_new.withColumn("product", expr("substring(category_code, length(category) + 2)"))

df_new =df_new.drop("split_code")

df_new.show(truncate=False)

+---+-------------------+----------+----------+--------------------------------+--------+------+---------+-----------+---------------------+
|id |event_time         |event_type|product_id|category_code                   |brand   |price |user_id  |category   |product              |
+---+-------------------+----------+----------+--------------------------------+--------+------+---------+-----------+---------------------+
|0  |2019-11-01 01:00:00|view      |1003461   |electronics.smartphone          |xiaomi  |489.07|520088904|electronics|smartphone           |
|1  |2019-11-01 01:00:00|view      |5000088   |appliances.sewing_machine       |janome  |293.65|530496790|appliances |sewing_machine       |
|2  |2019-11-01 01:00:01|view      |17302664  |null                            |creed   |28.31 |561587266|null       |null                 |
|3  |2019-11-01 01:00:01|view      |3601530   |appliances.kitchen.washer       |lg      |712.87|518085591|appliances |kitchen.washer       |
|4  |2019-11-01 01:00:01|view      |1004775   |electronics.smartphone          |xiaomi  |183.27|558856683|electronics|smartphone           |
|5  |2019-11-01 01:00:01|view      |1306894   |computers.notebook              |hp      |360.09|520772685|computers  |notebook             |
|6  |2019-11-01 01:00:01|view      |1306421   |computers.notebook              |hp      |514.56|514028527|computers  |notebook             |
|7  |2019-11-01 01:00:02|view      |15900065  |null                            |rondell |30.86 |518574284|null       |null                 |
|8  |2019-11-01 01:00:02|view      |12708937  |null                            |michelin|72.72 |532364121|null       |null                 |
|9  |2019-11-01 01:00:02|view      |1004258   |electronics.smartphone          |apple   |732.07|532647354|electronics|smartphone           |
|10 |2019-11-01 01:00:03|view      |17200570  |furniture.living_room.sofa      |null    |437.33|518780843|furniture  |living_room.sofa     |
|11 |2019-11-01 01:00:03|view      |2701517   |appliances.kitchen.refrigerators|null    |155.11|518427361|appliances |kitchen.refrigerators|
|12 |2019-11-01 01:00:03|view      |16700260  |furniture.kitchen.chair         |null    |31.64 |566255262|furniture  |kitchen.chair        |
|13 |2019-11-01 01:00:04|view      |34600011  |null                            |null    |20.54 |512416379|null       |null                 |
|14 |2019-11-01 01:00:05|view      |4600658   |appliances.kitchen.dishwasher   |samsung |411.83|526595547|appliances |kitchen.dishwasher   |
|15 |2019-11-01 01:00:06|view      |24900193  |null                            |null    |1.09  |512651494|null       |null                 |
|16 |2019-11-01 01:00:07|view      |27400066  |null                            |null    |8.55  |551061950|null       |null                 |
|17 |2019-11-01 01:00:07|view      |5100503   |null                            |xiaomi  |22.68 |520037415|null       |null                 |
|18 |2019-11-01 01:00:07|view      |1004566   |electronics.smartphone          |huawei  |164.84|566265908|electronics|smartphone           |
|19 |2019-11-01 01:00:08|view      |1307115   |computers.notebook              |hp      |411.59|514028527|computers  |notebook             |
+---+-------------------+----------+----------+--------------------------------+--------+------+---------+-----------+---------------------+
only showing top 20 rows

In [8]:
df_new =df_new.drop("category_code")
df_new.show(truncate=False)

+---+-------------------+----------+----------+--------+------+---------+-----------+---------------------+
|id |event_time         |event_type|product_id|brand   |price |user_id  |category   |product              |
+---+-------------------+----------+----------+--------+------+---------+-----------+---------------------+
|0  |2019-11-01 01:00:00|view      |1003461   |xiaomi  |489.07|520088904|electronics|smartphone           |
|1  |2019-11-01 01:00:00|view      |5000088   |janome  |293.65|530496790|appliances |sewing_machine       |
|2  |2019-11-01 01:00:01|view      |17302664  |creed   |28.31 |561587266|null       |null                 |
|3  |2019-11-01 01:00:01|view      |3601530   |lg      |712.87|518085591|appliances |kitchen.washer       |
|4  |2019-11-01 01:00:01|view      |1004775   |xiaomi  |183.27|558856683|electronics|smartphone           |
|5  |2019-11-01 01:00:01|view      |1306894   |hp      |360.09|520772685|computers  |notebook             |
|6  |2019-11-01 01:00:01|view      |1306421   |hp      |514.56|514028527|computers  |notebook             |
|7  |2019-11-01 01:00:02|view      |15900065  |rondell |30.86 |518574284|null       |null                 |
|8  |2019-11-01 01:00:02|view      |12708937  |michelin|72.72 |532364121|null       |null                 |
|9  |2019-11-01 01:00:02|view      |1004258   |apple   |732.07|532647354|electronics|smartphone           |
|10 |2019-11-01 01:00:03|view      |17200570  |null    |437.33|518780843|furniture  |living_room.sofa     |
|11 |2019-11-01 01:00:03|view      |2701517   |null    |155.11|518427361|appliances |kitchen.refrigerators|
|12 |2019-11-01 01:00:03|view      |16700260  |null    |31.64 |566255262|furniture  |kitchen.chair        |
|13 |2019-11-01 01:00:04|view      |34600011  |null    |20.54 |512416379|null       |null                 |
|14 |2019-11-01 01:00:05|view      |4600658   |samsung |411.83|526595547|appliances |kitchen.dishwasher   |
|15 |2019-11-01 01:00:06|view      |24900193  |null    |1.09  |512651494|null       |null                 |
|16 |2019-11-01 01:00:07|view      |27400066  |null    |8.55  |551061950|null       |null                 |
|17 |2019-11-01 01:00:07|view      |5100503   |xiaomi  |22.68 |520037415|null       |null                 |
|18 |2019-11-01 01:00:07|view      |1004566   |huawei  |164.84|566265908|electronics|smartphone           |
|19 |2019-11-01 01:00:08|view      |1307115   |hp      |411.59|514028527|computers  |notebook             |
+---+-------------------+----------+----------+--------+------+---------+-----------+---------------------+
only showing top 20 rows

In [9]:
df_new = df_new.withColumn("date", split(col("event_time"), " ")[0])
df_new = df_new.withColumn("day", split(col("date"), "-")[2].cast(IntegerType()))
df_new = df_new.drop("event_time")

df_new.show()

+---+----------+----------+--------+------+---------+-----------+--------------------+----------+---+
| id|event_type|product_id|   brand| price|  user_id|   category|             product|      date|day|
+---+----------+----------+--------+------+---------+-----------+--------------------+----------+---+
|  0|      view|   1003461|  xiaomi|489.07|520088904|electronics|          smartphone|2019-11-01|  1|
|  1|      view|   5000088|  janome|293.65|530496790| appliances|      sewing_machine|2019-11-01|  1|
|  2|      view|  17302664|   creed| 28.31|561587266|       null|                null|2019-11-01|  1|
|  3|      view|   3601530|      lg|712.87|518085591| appliances|      kitchen.washer|2019-11-01|  1|
|  4|      view|   1004775|  xiaomi|183.27|558856683|electronics|          smartphone|2019-11-01|  1|
|  5|      view|   1306894|      hp|360.09|520772685|  computers|            notebook|2019-11-01|  1|
|  6|      view|   1306421|      hp|514.56|514028527|  computers|            notebook|2019-11-01|  1|
|  7|      view|  15900065| rondell| 30.86|518574284|       null|                null|2019-11-01|  1|
|  8|      view|  12708937|michelin| 72.72|532364121|       null|                null|2019-11-01|  1|
|  9|      view|   1004258|   apple|732.07|532647354|electronics|          smartphone|2019-11-01|  1|
| 10|      view|  17200570|    null|437.33|518780843|  furniture|    living_room.sofa|2019-11-01|  1|
| 11|      view|   2701517|    null|155.11|518427361| appliances|kitchen.refrigera...|2019-11-01|  1|
| 12|      view|  16700260|    null| 31.64|566255262|  furniture|       kitchen.chair|2019-11-01|  1|
| 13|      view|  34600011|    null| 20.54|512416379|       null|                null|2019-11-01|  1|
| 14|      view|   4600658| samsung|411.83|526595547| appliances|  kitchen.dishwasher|2019-11-01|  1|
| 15|      view|  24900193|    null|  1.09|512651494|       null|                null|2019-11-01|  1|
| 16|      view|  27400066|    null|  8.55|551061950|       null|                null|2019-11-01|  1|
| 17|      view|   5100503|  xiaomi| 22.68|520037415|       null|                null|2019-11-01|  1|
| 18|      view|   1004566|  huawei|164.84|566265908|electronics|          smartphone|2019-11-01|  1|
| 19|      view|   1307115|      hp|411.59|514028527|  computers|            notebook|2019-11-01|  1|
+---+----------+----------+--------+------+---------+-----------+--------------------+----------+---+
only showing top 20 rows

In [10]:
df_new = df_new.drop("date")
df_new.show()

+---+----------+----------+--------+------+---------+-----------+--------------------+---+
| id|event_type|product_id|   brand| price|  user_id|   category|             product|day|
+---+----------+----------+--------+------+---------+-----------+--------------------+---+
|  0|      view|   1003461|  xiaomi|489.07|520088904|electronics|          smartphone|  1|
|  1|      view|   5000088|  janome|293.65|530496790| appliances|      sewing_machine|  1|
|  2|      view|  17302664|   creed| 28.31|561587266|       null|                null|  1|
|  3|      view|   3601530|      lg|712.87|518085591| appliances|      kitchen.washer|  1|
|  4|      view|   1004775|  xiaomi|183.27|558856683|electronics|          smartphone|  1|
|  5|      view|   1306894|      hp|360.09|520772685|  computers|            notebook|  1|
|  6|      view|   1306421|      hp|514.56|514028527|  computers|            notebook|  1|
|  7|      view|  15900065| rondell| 30.86|518574284|       null|                null|  1|
|  8|      view|  12708937|michelin| 72.72|532364121|       null|                null|  1|
|  9|      view|   1004258|   apple|732.07|532647354|electronics|          smartphone|  1|
| 10|      view|  17200570|    null|437.33|518780843|  furniture|    living_room.sofa|  1|
| 11|      view|   2701517|    null|155.11|518427361| appliances|kitchen.refrigera...|  1|
| 12|      view|  16700260|    null| 31.64|566255262|  furniture|       kitchen.chair|  1|
| 13|      view|  34600011|    null| 20.54|512416379|       null|                null|  1|
| 14|      view|   4600658| samsung|411.83|526595547| appliances|  kitchen.dishwasher|  1|
| 15|      view|  24900193|    null|  1.09|512651494|       null|                null|  1|
| 16|      view|  27400066|    null|  8.55|551061950|       null|                null|  1|
| 17|      view|   5100503|  xiaomi| 22.68|520037415|       null|                null|  1|
| 18|      view|   1004566|  huawei|164.84|566265908|electronics|          smartphone|  1|
| 19|      view|   1307115|      hp|411.59|514028527|  computers|            notebook|  1|
+---+----------+----------+--------+------+---------+-----------+--------------------+---+
only showing top 20 rows

In [11]:
df_new = df_new.dropDuplicates()

In [12]:
df_new = df_new.dropna()
df_new.show()

+----+----------+----------+--------+-------+---------+-----------+--------------------+---+
|  id|event_type|product_id|   brand|  price|  user_id|   category|             product|day|
+----+----------+----------+--------+-------+---------+-----------+--------------------+---+
|  29|      view|   1307340|    asus| 360.34|520772685|  computers|            notebook|  1|
| 878|      view|   3100640| redmond|  51.22|522761204| appliances|     kitchen.blender|  1|
|1401|      view|   1004158| samsung| 733.61|560865203|electronics|          smartphone|  1|
|1505|      view|   1201362|    acer|  178.9|513468656|electronics|              tablet|  1|
|2051|      view|   1004777|  xiaomi| 135.01|566282204|electronics|          smartphone|  1|
|4046|      view|   1004386|    oppo| 776.08|512521821|electronics|          smartphone|  1|
|4971|      view|  45500010|deepcool|  17.99|513569912|  computers|            notebook|  1|
|5170|      view|   1480163|    acer| 617.75|566284428|  computers|             desktop|  1|
|5245|      view|   1004788|  xiaomi| 138.71|518679035|electronics|          smartphone|  1|
|5424|      view|   1307510|    dell|1911.25|513569912|  computers|            notebook|  1|
|6919|      view|   4804055|   apple| 188.94|538178630|electronics|     audio.headphone|  1|
|6998|      view|   4804056|   apple| 160.57|566285493|electronics|     audio.headphone|  1|
|7491|      view|  25900023| almacom|  63.39|557673447|  computers|   components.cooler|  1|
|7506|      view|   6400294|   intel| 459.47|556551950|  computers|      components.cpu|  1|
|7887|      view|   3701212| philips| 386.11|529739082| appliances|  environment.vacuum|  1|
|8180|      view|   1003533| samsung| 301.08|514378971|electronics|          smartphone|  1|
|8314|      view|   6400310|   intel|  712.3|566285916|  computers|      components.cpu|  1|
|8743|      view|   1005160|  xiaomi| 212.08|513311482|electronics|          smartphone|  1|
|9381|      view|   6500634|    asus|  55.99|566286634|  computers|components.mother...|  1|
|9453|      view|   1004434| samsung| 313.78|521109179|electronics|          smartphone|  1|
+----+----------+----------+--------+-------+---------+-----------+--------------------+---+
only showing top 20 rows

In [13]:
print("Null values present in:")
for c in ["category","product","day", "brand"]:
    print(c +':', df_new.where(F.col(c).isNull()).count())

Null values present in:
category: 0
product: 0
day: 0
brand: 0

In [14]:
count = df_new.count()
print(f"Total number of rows: {count:,d}")

Total number of rows: 42,089,570

In [15]:
df_new.describe().show()

+-------+--------------------+----------+--------------------+--------+------------------+--------------------+-----------+-----------------+------------------+
|summary|                  id|event_type|          product_id|   brand|             price|             user_id|   category|          product|               day|
+-------+--------------------+----------+--------------------+--------+------------------+--------------------+-----------+-----------------+------------------+
|  count|            42089570|  42089570|            42089570|42089570|          42089570|            42089570|   42089570|         42089570|          42089570|
|   mean|2.843057495002189...|      null|   7069141.265143645|Infinity|360.21407357502267| 5.389993519299238E8|       null|             null|15.558973042490098|
| stddev|1.660905644135284...|      null|1.4095484819486292E7|     NaN| 383.3233963131343|2.2914563921821624E7|       null|             null|7.4815895100845555|
|    min|                   0|      cart|             1000365| a-elita|              0.77|            29515875|accessories|accessories.alarm|                 1|
|    max|        575525723824|      view|           100028398|   zwerg|           2574.07|           579969851| stationery|           wallet|                30|
+-------+--------------------+----------+--------------------+--------+------------------+--------------------+-----------+-----------------+------------------+

In [16]:
save_path = hadoop_path_nov + '/selected_Data/' 

df_new.repartition(8).write.mode('overwrite').option('header','true').csv(save_path)
spark.stop()